[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ProPublicaR"]
	path = ProPublicaR
	url = https://github.com/dietrichson/propublicar
